$colors: (
  "Green": #5c8653,
  "lime": #bfdcae,
  "light": #f2f2f2,
  "pink": #ffb0b0,
);
$fonts: (
  "headings": "cotoris",
  "else": "'Hind Vadodara', sans-serif",
);
@font-face {
  font-family: "cotoris";
  src: url(font/Cotoris.ttf);
  src: url(font/CotorisItalic.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Hind Vadodara", sans-serif;
}
h1,
h2,
h3,
h5,
span {
  font-family: "cotoris";
}
h1 {
  margin: 25px 0%;
  color: #444;
  font-weight: 600;
  letter-spacing: 1px;
}
h1:hover {
  color: #dc3545;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.btn-outline-danger {
  display: block;
  margin: auto;
}
h3 {
  font-weight: 600;
}
h3:hover {
  color: #dc3545;
}
p {
  font-style: italic;
  color: #444;
  margin: 1em 0em;
}
.navbar {
  .container {
    .navbar-brand {
      background-color: map-get($map: $colors, $key: "light");
      color: map-get($colors, "Green");
      padding: 3% 1.5% 1%;
      font-size: 25px;
      margin-top: -3.2%;
      border-radius: 10px;
      letter-spacing: -1px;
      span {
        color: #41580e;
        font-size: 36px;
        font-weight: 800;
      }
    }
    .navbar-nav {
      .nav-item {
        margin-right: 15px;
        .nav-link {
          color: #fff;
          font-size: 18px;
          font-weight: 200;
          letter-spacing: 1px;
        }
      }
    }
    form {
      input {
        border-bottom: 1px rgba($color: #eaede8, $alpha: 0.45) solid;
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
      }
      ::placeholder {
        color: map-get($colors, "light");
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 1.5px;
      }
    }
  }
}
// needs an update
.navbar.scrolled {
  display: none !important;
}
.carousel {
  position: relative !important;
  .carousel-inner {
    .carousel-item {
      max-height: 100vh;
    }
    .drk::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color: #000000, $alpha: 0.4);
    }
    .carousel-caption {
      top: auto;
      bottom: 75px;
      left: 120px;
      h2,
      h6 {
        letter-spacing: 0.8px;
        margin-bottom: 10px;
      }
      h6 {
        font-size: 20px;
        font-weight: 200;
      }
    }
  }
}
#up-button{
  display: inline-block;
  background-color: #dc3545;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 75px;
  right: 30px;
  box-shadow: 0 0 5px 1px rgba(92, 91, 91, 0.69);
  transition: background-color .3s, opacity .5s, visibility .5s;
  z-index: 1000;
  padding: 0.35rem;
  i{
    color: #f2f2f2;
    font-size: 25px;
  }
}
.hide{
  opacity: 0;
  visibility: hidden;
}
section {
  margin: 1% 0%;
}
.light {
  background-color: map-get($colors, "light");
  padding: 1%;
}
.bg-white {
  .container {
      #more{
          display: none;
      }
    .article {
      padding: 5%;
      height: 800px;
      // border: black solid 1px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        border-radius: 5px;
      }
      .description {
        padding: 2.5% 5%;
      }
      .footer-article {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .right {
          display: flex;
          justify-content: center;
          ul {
            display: flex;
            margin-bottom: 0px;
            li {
              display: inline;
              align-self: center;
              p {
                display: inline;
              }
              i {
                color: #dc3545;
              }
            }
          }
        }
      }
    }
    .article:hover {
      cursor: pointer;
      border-radius: 15px;
      transition-duration: 1s;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .description {
        display: block;
        transition-duration: 1s;
        h3 {
          color: #dc3545;
        }
      }
    }
  }
}
.light {
  h1 {
    margin: 25px 10%;
  }
  .width {
    height: 450px;
    max-width: 450px;
  }
  .section {
    padding: 5%;
    height: 450px;
    img {
      height: 100%;
      display: block;
      margin: auto;
    }
    form {
      input {
        display: block;
        margin: 20px 0%;
        padding: 0.5% 10px;
        width: 100%;
        border: transparent;
        border-bottom: 2px #dc3545 solid;
        background-color: transparent;
      }
      ::placeholder {
        color: rgba($color: #444, $alpha: 0.45);
        font-style: italic;
      }
    }
  }
}

footer {
  .section1 {
    .social-icons {
      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        li {
          list-style: none;
          margin: 0px 25px;
          a {
            color: #dc3545;
            i {
              font-size: 26px;
            }
          }
          a:hover {
            color: #ffb0b0;
          }
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .navbar {
    .container {
      .navbar-brand {
        padding: 5% 2.5% 1%;
        font-size: 15px;
        margin-top: -5%;
        border-radius: 15px;
        span {
          font-size: 25px;
        }
      }
      .navbar-toggler-icon {
        color: map-get($colors, "light");
        font-size: 25px;
      }
      div {
        text-align: center;
        background-color: #41580e;
      }
      .navbar-nav {
        .nav-item {
          margin-right: 0px;
          padding: 1.5%;
        }
      }
      form {
        display: none;
      }
    }
  }
  .carousel {
    .carousel-indicators {
      display: none;
    }
    .carousel-inner {
      .carousel-item {
        height: auto;
      }
    }
  }
  .light {
    text-align: center;
    .width {
      max-width: 100%;
    }
    .section {
      padding: 0px;
      img {
        // padding-left: 0px;
      }
    }
  }
}
