@font-face {
  font-family: "cotoris";
  src: url(font/Cotoris.ttf);
  src: url(font/CotorisItalic.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Hind Vadodara", sans-serif;
}

h1,
h2,
h3,
h5,
span {
  font-family: "cotoris";
}

h1 {
  margin: 25px 0%;
  color: #444;
  font-weight: 600;
  letter-spacing: 1px;
}

h1:hover {
  color: #dc3545;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn-outline-danger {
  display: block;
  margin: auto;
}

h3 {
  font-weight: 600;
}

h3:hover {
  color: #dc3545;
}

p {
  font-style: italic;
  color: #444;
  margin: 1em 0em;
}

.navbar .container .navbar-brand {
  background-color: #f2f2f2;
  color: #5c8653;
  padding: 3% 1.5% 1%;
  font-size: 25px;
  margin-top: -3.2%;
  border-radius: 10px;
  letter-spacing: -1px;
}

.navbar .container .navbar-brand span {
  color: #41580e;
  font-size: 36px;
  font-weight: 800;
}

.navbar .container .navbar-nav .nav-item {
  margin-right: 15px;
}

.navbar .container .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
}

.navbar .container form input {
  border-bottom: 1px rgba(234, 237, 232, 0.45) solid;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.navbar .container form ::-webkit-input-placeholder {
  color: #f2f2f2;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1.5px;
}

.navbar .container form :-ms-input-placeholder {
  color: #f2f2f2;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1.5px;
}

.navbar .container form ::-ms-input-placeholder {
  color: #f2f2f2;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1.5px;
}

.navbar .container form ::placeholder {
  color: #f2f2f2;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1.5px;
}

.navbar.scrolled {
  display: none !important;
}

.carousel {
  position: relative !important;
}

.carousel .carousel-inner .carousel-item {
  max-height: 100vh;
}

.carousel .carousel-inner .drk::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel .carousel-inner .carousel-caption {
  top: auto;
  bottom: 75px;
  left: 120px;
}

.carousel .carousel-inner .carousel-caption h2,
.carousel .carousel-inner .carousel-caption h6 {
  letter-spacing: 0.8px;
  margin-bottom: 10px;
}

.carousel .carousel-inner .carousel-caption h6 {
  font-size: 20px;
  font-weight: 200;
}

section {
  margin: 1% 0%;
}

.light {
  background-color: #f2f2f2;
  padding: 1%;
}

.bg-white .container #more {
  display: none;
}

.bg-white .container .article {
  padding: 5%;
  height: 800px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-white .container .article img {
  width: 100%;
  border-radius: 5px;
}

.bg-white .container .article .description {
  padding: 2.5% 5%;
}

.bg-white .container .article .footer-article {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bg-white .container .article .footer-article .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-white .container .article .footer-article .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}

.bg-white .container .article .footer-article .right ul li {
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.bg-white .container .article .footer-article .right ul li p {
  display: inline;
}

.bg-white .container .article .footer-article .right ul li i {
  color: #dc3545;
}

.bg-white .container .article:hover {
  cursor: pointer;
  border-radius: 15px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-white .container .article:hover .description {
  display: block;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.bg-white .container .article:hover .description h3 {
  color: #dc3545;
}

.light h1 {
  margin: 25px 10%;
}

.light .width {
  height: 450px;
  max-width: 450px;
}

.light .section {
  padding: 5%;
  height: 450px;
}

.light .section img {
  height: 100%;
  display: block;
  margin: auto;
}

.light .section form input {
  display: block;
  margin: 20px 0%;
  padding: 0.5% 10px;
  width: 100%;
  border: transparent;
  border-bottom: 2px #dc3545 solid;
  background-color: transparent;
}

.light .section form ::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.45);
  font-style: italic;
}

.light .section form :-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.45);
  font-style: italic;
}

.light .section form ::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.45);
  font-style: italic;
}

.light .section form ::placeholder {
  color: rgba(68, 68, 68, 0.45);
  font-style: italic;
}

footer .section1 .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .section1 .social-icons ul li {
  list-style: none;
  margin: 0px 25px;
}

footer .section1 .social-icons ul li a {
  color: #dc3545;
}

footer .section1 .social-icons ul li a i {
  font-size: 26px;
}

footer .section1 .social-icons ul li a:hover {
  color: #ffb0b0;
}

@media (max-width: 991.98px) {
  .navbar .container .navbar-brand {
    padding: 5% 2.5% 1%;
    font-size: 15px;
    margin-top: -5%;
    border-radius: 15px;
  }
  .navbar .container .navbar-brand span {
    font-size: 25px;
  }
  .navbar .container .navbar-toggler-icon {
    color: #f2f2f2;
    font-size: 25px;
  }
  .navbar .container div {
    text-align: center;
    background-color: #41580e;
  }
  .navbar .container .navbar-nav .nav-item {
    margin-right: 0px;
    padding: 1.5%;
  }
  .navbar .container form {
    display: none;
  }
  .carousel .carousel-indicators {
    display: none;
  }
  .carousel .carousel-inner .carousel-item {
    height: auto;
  }
  .light {
    text-align: center;
  }
  .light .width {
    max-width: 100%;
  }
  .light .section {
    padding: 0px;
  }
}
/*# sourceMappingURL=style.css.map */